/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 20px;
}

/*** CLASSE ***/
.maps, .info, .command {

}

#containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  padding-top: 1em;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
}
.time {
  display: flex;
  flex-direction: row;

}
.date {
  display: flex;
  flex-direction: row;
}

span {
  margin-left: 2px;
  margin-right: 2px;
}

/*** ID ***/

#core {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

#containerMaps {
  height: 100%; 
  width: 100%;
  background-color: rgba(219, 219, 219, 0.349);
}
#map {
  width:100%;
  height:100%;
}

#batterie {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin-right: 1em;
}
.bi {
    margin-left: 10px;
}

#level {
  
}

.bi-battery-full {

}
.bi-battery-full,
.bi-battery,
.bi-battery-charging {
display: none;
}

#containerButton {
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 15px;
  transition: 0.3s;
}
.success {
  background-color: rgb(3, 144, 121);
  color: white;
  border: 1px solid rgb(1, 212, 159);

}
.success:hover {
  background-color: rgb(28, 255, 175);
  color: #282c34;
}

.danger {
  background-color: #c62914;
  color: #282c34;
  border: 1px solid #f50101;
}

.danger:hover {
  background-color: rgb(247, 47, 47);
  color: #FFFFFF;
}

#containerImages {
  position: relative;
  bottom: 120px;
  right: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mower {
  width: 50px;
  height: 50px;
  filter: invert(0.9) grayscale(90%);
}
#image1 {
  position: absolute;
  z-index: 1;
}
#compass {
  width: 100px;
  height: 100px;
  filter: invert() grayscale(90%);
}
#image2 {
  
}

 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
 html, body {
     overflow-x: hidden;
     height: 100%;
 }
 body {
     background: #fff;
     padding: 0;
     margin: 0;
     font-family: 'Varela Round', sans-serif;
 }
 .header {
     display: flex;
     margin: 0 auto;
     width: 100%;
     max-width: 100%;
     box-shadow: none;
     background-image: url('/serveurWeb/templates/static/images/fond2.jpg');
     position: fixed;
     height: 60px!important;
     overflow: hidden;
     z-index: 10;
     justify-content: flex-end;
 }
 .main {
     margin: 0 auto;
     display: block;
     height: 100%;
     margin-top: 60px;
 }
 .mainInner{
     display: table;
     height: 100%;
     width: 100%;
     text-align: center;
 }
 .mainInner div{
     display:table-cell;
     vertical-align: middle;
     font-size: 3em;
     font-weight: bold;
     letter-spacing: 1.25px;
 }
 #sidebarMenu {
     height: 100%;
     position: fixed;
     left: 0;
     width: 250px;
     margin-top: 60px;
     transform: translateX(-250px);
     transition: transform 250ms ease-in-out;
     background-image: url('/serveurWeb/templates/static/images/fond2.jpg');
     background-size: cover;
     z-index: 2;
 }
 .sidebarMenuInner{
     margin:0;
     padding:0;
     border-top: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li{
     list-style: none;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     padding: 20px;
     cursor: pointer;
     border-bottom: 1px solid rgba(255, 255, 255, 0.10);
 }
 .sidebarMenuInner li span{
     display: block;
     font-size: 14px;
     color: rgba(255, 255, 255, 0.50);
 }
 .sidebarMenuInner li a{
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
 }
 input[type="checkbox"]:checked ~ #sidebarMenu {
     transform: translateX(0);
 }
 
 input[type=checkbox] {
     transition: all 0.3s;
     box-sizing: border-box;
     display: none;
 }
 .sidebarIconToggle {
     transition: all 0.3s;
     box-sizing: border-box;
     cursor: pointer;
     position: absolute;
     z-index: 99;
     height: 100%;
     width: 100%;
     top: 22px;
     left: 15px;
     height: 22px;
     width: 22px;
 }
 .spinner {
     transition: all 0.3s;
     box-sizing: border-box;
     position: absolute;
     height: 3px;
     width: 100%;
     background-color: #fff;
 }
 .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 .diagonal.part-1 {
     position: relative;
     transition: all 0.3s;
     box-sizing: border-box;
     float: left;
 }
 .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     position: relative;
     float: left;
     margin-top: 3px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
     transition: all 0.3s;
     box-sizing: border-box;
     opacity: 0;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(135deg);
     margin-top: 8px;
 }
 input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
     transition: all 0.3s;
     box-sizing: border-box;
     transform: rotate(-135deg);
     margin-top: -9px;
 }