/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 20px;
}

/*** CLASSE ***/
.maps, .info, .command {

}

.time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 32px;
  font-size: 32px;
}
.date {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px;
}

span {
  margin-left: 2px;
  margin-right: 2px;
}

/*** ID ***/

#core {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url('/serveurWeb/templates/static/images/fond2.jpg');
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em 0;
}

#containerController {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1em;
  background-color: rgba(219, 219, 219, 0.349);
  opacity: 1;
  margin: 0 .5em 0 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#containerMaps {
  height: 100%; 
  width: 100%;
  margin: 0 1em 0 .5em;
  padding: 1em;
  background-color: rgba(219, 219, 219, 0.349);
  border-radius: 1em;
}
#map {
  width:100%;
  height:100%;
  border-radius: 1em;
}
#containerTitre {
  text-align: center;
  border: .1em solid white;
  padding: .3em .5em;
}
#batterie {
    position: absolute;
    width: 60px;
    height: 70px;
    right: 10px;
    top: 10px;
    background-color: transparent;
    z-index: 9;
}
#batterie.bi {
    position: absolute;
    margin-left: 6px;
    top: 0;
    width: 100%;
    height: auto;
}

#level {
  position: absolute;
  top: 10px;
  right: 70px;
  line-height: 35px;
}

.bi-battery-full {

}
.bi-battery-full,
.bi-battery,
.bi-battery-charging {
  display: none;

}
#containerInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: white;  
}
#containerBouton {
  width: 90%;
  height: 50px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: beige;

}
button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 15px;
  margin: .5em;
  transition: 0.3s;
}
.success {
  background-color: rgb(0, 255, 170);
  color: white;
  border: 1px solid rgb(0, 255, 85);

}
.success:hover {
  background-color: rgb(0, 255, 115);
  color: #282c34;
}

.danger {
  background-color: #fb7361;
  color: #282c34;
  border: 1px solid #fe0000;
}

.danger:hover {
  background-color: rgb(247, 47, 47);
  color: #FFFFFF;
}

#containerStatus {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 

}
#containerError {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
 
 
}
#containerPosition {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  
}
#containerImages {
  position: relative;
  bottom: 120px;
  right: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mower {
  width: 50px;
  height: 50px;
  filter: invert(0.9) grayscale(90%);
}
#image1 {
  position: absolute;
  z-index: 1;
}
#compass {
  width: 100px;
  height: 100px;
  filter: invert() grayscale(90%);
}
#image2 {
  
}

@media screen and (max-width: 450px) {
  #core {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: .5em;
  }

  #containerController {
    width: 100%;
    height: 50%;
    margin: 0 0 .2em 0;
    padding: .5em;
  }

  #containerMaps {
    margin: .2em 0 0 0;
  }
}
/* @media all and (orientation: portrait)
{
    
    .time {
        font-size: 12px;
    }
    .date {
        font-size: 12px;
    }
    h1 {
        font-size: 15px;
    }
    #containerInfo {
        display: none;
        top: 50px;
    }
    h3, th, td {
        font-size: 12px;
    }
    #containerPosition {
        display: none;
    }
    #containerBouton {
        top: 50px;
        bottom: auto;
        left: 0;
        right: 0;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #containerStatus {
        right: auto;
        left: 130px;
        margin-right: auto;
    }
    #containerError {
        right: auto;
        left: 10px;
        margin-left: auto;
    }
    #containerImages {
        width: 100px;
        height: 100px;
        right: 10px;
        bottom: 10px;
    }
    img {
        width: 100%;
        height: auto;
    }
    #mower {
        width: 50%;
        height: auto;
        margin-left: 25px;
        margin-right: auto;
    }
    #image2 {
        right: 0;
        left: 0;
        bottom: auto;
    }
}
 */
